html {
    box-sizing: border-box;
}

body {
    color: #ffc1a2;
    background-color: rgb(36, 0, 0);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2em;
  }